@model List<Category>

<h2>List of Drinks</h2>
<a class="btn btn-primary" asp-action="index" asp-route-name="Alcolic">Alcoholic Drinks</a>
<a class="btn btn-primary" asp-action="index" asp-route-name="Non Alcolic">Non Alcoholic Drinks</a>
<a class="btn btn-success" asp-action="new" asp-controller="Drink">Add New Drink</a>

<div class="row">
    @foreach(var category in Model) {
        <div class="row">
            <p>@category.Name</p>
        </div>
        <div class="row">
        @foreach(var drink in category.Drinks){
        <div class="panel panel-info col-sm-4">
            <div class="panel-heading">
                <a asp-action="Details" asp-controller="Drink" asp-route-Id="@drink.Id"> @drink.Name</a>
            </div>
            <div class="panel-body">
            <table>
                <tr><td>Price: @drink.Price.ToString("c")</td></tr>
                <tr><td>Description: @drink.Description</td></tr>
                <tr><td><img src="@drink.ImageUrl" height=100 width=100></img></td></tr>
            </table>   
            </div>
            <div class="panel-footer">
                <button data-drinkId="@drink.Id" class="btn btn-success add-to-cart" >Add to cart</button>
            </div>
        </div>
        }
    </div>
    }
</div>