@model Drink

<form asp-action="New" method="Post">

    <input hidden asp-for="@Model.Id"/>

    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name"/>

    <label asp-for="@Model.Price"></label>
    <input asp-for="@Model.Price"/>

    <label asp-for="@Model.Description"></label>
    <input asp-for="@Model.Description"/>

    <label asp-for="@Model.ImageUrl"></label>
    <input asp-for="@Model.ImageUrl"/>


    <select asp-for="CategoryId" asp-items="@ViewBag.drinkCategory">
        <option value="">Select Drink Category</option>
    </select>

    <button class="btn btn-primary" type="submit">Save</button>
</form>