@model List<Cart>
    <div>
        <a class="btn btn-success pull-right btn-purchase"
            asp-action="New"
            asp-controller="purchase">
            Purchase
        </a>
    </div>
<table class="table table-default">
    <thead>
        <tr>
            <td>Drink Name</td>
            <td>Quantity</td>
            <td>Drink Price</td>
            <td>Actions</td>
        </tr>
    </thead>
    <div>
        @foreach(Cart cart in @Model)
        {
        <tbody>
            <tr>
                <td>@cart.Drink.Name</td>
                <td><input type="number" value = "@cart.Quantity" data-Id = "@cart.Id" oninput="UpdateQuantity(event)"></td>                
                <td>@cart.Drink.Price.ToString("c")</td>
                <td><button class="btn btn-danger btn-delete" data-cartId=@cart.Id>Remove</button></td>
            </tr>
        </tbody>
        }
        <tr><td>Total</td><td id="totalPrice">@ViewBag.TotalPrice.ToString("c")</td></tr>
    </div>
</table>

@section Scripts{
    <script>
      $(function(){

      });

      function UpdateQuantity(event){
          var target = event.target;
          var Id = $(target).attr("data-Id");

          var quantity = target.value;
          if (quantity<1){
              event.target.value = 1;
              quantity = 1;
          }

          $.ajax({
              url : "/cart/UpdateCartQuantity",
              method : "get",
              data : {Id : Id, quantity : quantity},
              success : function(result){
                  $("#totalPrice").html("$ "+ result.totalPrice);
              },
              error : function(error){
                  console.log(error);
              }
          });
      }
    </script>
}